*{
    margin: 0;
    padding: 0;
    list-style: none;
}

input[type="submit"]{
	background-color: #999999;
	color: #EEE;
	font-weight: bold;
}



body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1E1E1;
}

.wrapper{
    box-shadow: 0px 0px 100px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    height: 90vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

#listeCoups{
	overflow : auto;
	height: 35vh;
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.alert{
	padding: 0;
	margin: 0;
}

.titre{
    margin: 0 auto;
    font-size: 1.5em;
}

.titre h3{
	float :left;
	display: inline;
}

#deco{
	color: #999;
	float : right;
	display: inline;
	border: none;
	background-color: white;
	text-transform: capitalize;
	font-size: 0.5em;
}

#scores{
	display : flex;
	flex-flow : row;
	justify-content: space-around;
	position: relative;
	top : 0px;
	z-index: 10;
}


#score{
	font-size: 2.5em;
	text-align: center;
}

#best{
	font-size: 2.5em;
	text-align: center;
}

#historique{
	max-width: 25%;
}

.new{
	position: relative;
	bottom : -10px;
	width: 100%;
}

.new input{
	width : 100%;
}

#jouer{
	width: 100%;
	margin-top: 1%;
}

/* ScrollBar style*/ 

#listeCoups::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#listeCoups::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#listeCoups::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}